<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">GSH Accounts</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id='mobile-demo'>
            <li>
                <div class="user-view" style="padding-bottom: 30px;">
                    <div class="background">
                        <img src="images/back.jpg">
                    </div>
                     <a href="#user"><img class="circle" src="images/user.jpg"></a>
                    <a href="#name"><span class="white-text name" style="font-weight: bolder; font-size: 20px;">{{userName}}</span></a>
                </div>
            </li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/null">NILL</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>